  body {
      position: relative; 
      background-color: lightgrey;
      

  }
  #home {
      padding-top:50px;
      height:500px;
      color: #fff;
      background-color:red
    }

  #services {
      padding-top:50px;
      height:500px;
      color: #fff; 
      background-color:gold
    }

  #location {
      padding-top:50px;
      height:500px;
      color: #fff; 
      background-color: black
    }
  #award {
      padding-top:50px;
      height:500px;
      color: #fff; 
      background-color:orange
    }


  #about {
      padding-top:50px;
      height:500px;
      color: #fff;
    background-color:brown
}

  #safety {
      padding-top:50px;
      height:500px;
      color: #fff;
    background-color:green
}

  #awards {
      padding-top:50px;
      height:500px;
      color: #fff;
      background-color:blue
}

hr.style1 {
	border-top: 1px solid #8c8b8b;
}