  body {
      position: relative; 
      background-image: url('img/tape-1.png') !important;
      background-repeat: round;
    
      }

h4{
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
    font-size: 50px !important;
    margin: 0 auto !important;
}

  @font-face {
    font-family: DaysOne-Regular;
    src: url(../../DaysOne-Regular.ttf);
}

   #home {
      padding-top: 0px !important;
      height:500px;
      /* color: #fff;
      background-color:purple */
    } 

  #services {
      padding-top:0px;
      height:500px;
      color: #fff; 
      background-color:gold;
      
    }

  #location {
      padding-top:0px;
      color: #fff; 
      background-color: black
    }
 
  #about {
      padding-top:10px;
      height:500px;
      color: #fff;
      background-color:black;
}
.button1 {
    background-color: gold;
    color: black;
    border: 2px solid black;
    width: 200px

}
.button1:hover {
    background-color: black; /* Green */
    color: white;
}
  #safety {
      padding-top:50px;
      height:500px;
      color: #fff;
      background-image: url(img/work.jpeg) !important;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
}

  #certs {
      padding-top:50px;
      color: #fff;
      background-color:blue
}

hr.style1 {
	border-top: 1px solid #8c8b8b;
}

   .swiper-container {
       display:inline-block !important;
        width: 100%;
        height: 100%;
        
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: transparent;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    }
div.gallery {
    margin: 35px;
    border: 5px solid black;
    max-width: 300px;
    overflow: hidden;
    display: inline-block;
}

div.gallery:hover {
    border: 7px solid white;
    size: 200%;
}
div.gallery img {
    height: 200px;
}
.div.gallery border{
    size: 200%;
}

div.desc {
    padding: 5px;
    max-width: 200px;
}

.text
{
    background-color: white;
    color: black;
    height: 291px;
}

.logo {
    float: left;
}

.city
{
    
    float: right;

}

.aboutus{
    width: 1000px;
}
.handshake {
    border-radius:100%
}

.service guy{
    border-radius: 100%
}

.person {
    border-radius: 100%
}

.grey{
    border-radius:100%
}

footer {
    background: black;
}