  body {
      position: relative; 
  }
  #home {
      padding-top:50px;
      height:500px;
      color: #fff;
      background-color: #1E88E5;
    }

  #about {
      padding-top:50px;
      height:500px;
      color: #fff; 
      background-color: #673ab7;
    }

  #location {
      padding-top:50px;
      height:500px;
      color: #fff; 
      background-color: #ff9800
    }
  #award {
      padding-top:50px;
      height:500px;
      color: #fff; 
      background-color: #00bcd4
    }


  #gallery {
      padding-top:50px;
      height:500px;
      color: #fff;
    background-color: #009688
}

  #safety {
      padding-top:50px;
      height:500px;
      color: #fff;
    background-color: red
}

  #awards {
      padding-top:50px;
      height:500px;
      color: #fff;
    background-color: pink
}