$color1: #011627; //rgba(1, 22, 39, 100)
$color2: #fdfffc; //rgba(253, 255, 252, 100)
$color3: #2ec4b6; //rgba(46, 196, 182, 100)
$color4: #e71d36; //rgba(231, 29, 54, 100)
$color5: #ff9f1c; //rgba(255, 159, 28, 100)

//MIXINS
@import 'skew';

body{
    margin: 0;
    padding: 0;
    font-family: DaysOne-Regular;
    font-size: 14px;
    color: #555;
    
    
}

#container{
  margin-top: 65px;
    width: 100%;
    position: relative;
}

#selectStyle{
    margin-top: 20px;
}

@mixin angle-edge($pos-top:null, $angle-top:null, $pos-btm:null, $angle-btm:null){
    width: 100%;
    position: relative;
    &:before,
    &:after{
        content: '';
        width: 100%;
        height: 70%;
        position: absolute;
        background: inherit;
        z-index: -1;
        transition: ease all .5s;
    }

    @if $pos-top{
        &:before{
            @if $pos-top == 'topleft'{
                top: 0;
                transform-origin: right top;
                transform: skewY($angle-top);
            }
            @if $pos-top == 'topright' {
                top: 0;
                transform-origin: left top;
                transform: skewY(-$angle-top);
            } 
        }
    }

    @if $pos-btm{
        &:after{
            @if $pos-btm == 'bottomleft' {
                bottom: 0;
                transform-origin: right bottom;
                transform: skewY(-$angle-btm);
            } 

            @if $pos-btm == 'bottomright' {
                bottom: 0;
                transform-origin: left bottom;
                transform: skewY($angle-btm);
            } 
        }
    }


}

.angled-top-left{
    @include angle-edge($pos-top: topleft, $angle-top: 2deg);
}

.angled-top-right{
    @include angle-edge($pos-top: topright, $angle-top: 2deg);
}

.angled-bottom-left{
    @include angle-edge($pos-btm: bottomleft, $angle-btm: 2deg);
}

.angled-bottom-right{
    @include angle-edge($pos-btm: bottomright, $angle-btm: 2deg);
}

.angled-both-left{
    @include angle-edge(topleft, 3deg, bottomleft, 2deg);
}
.angled-both-right{
    @include angle-edge(topright, 3deg, bottomright, 2deg);
}
.angled-both-left-right{
    @include angle-edge(topleft, 3deg, bottomright, 2deg);
}
.angled-both-right-left{
    @include angle-edge(topright, 3deg, bottomleft, 2deg);
}

.container-fluid {
width: 100%;

}

#hat {
  background-image: url("../../img/hardhat.png");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center bottom;
}
#dorrie {
  background-image: url("../../img/Dorrie.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center bottom;
}

.navbar-brand {
    position: relative;
    
    transform: rotate(-3deg);
}

.btn-primary.btn-lg {
    background: gold;
    border: gold;
    box-shadow: 5px 5px black;
}

#location {

   @include skew-me(3deg);
   &:before {
       z-index:0;
       background: url('../../tape-2.png') repeat-x gold;
   }
}

#about {
    @include skew-me(2deg, #FFF);
    margin: 100px 0;
    position: relative;
    background-image: url('../../img/city.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right 100px;
    height: 300px;
    &:before {
        top: -70px;
    }
    &:after {
        bottom: -70px;
        background-image: url('../../img/tape-1.png');
    }
    h2 {
        color: #333;
    }
    p {
        color: #666;
    }
    .crane {
        height: 300px;
        background-image: url('../../img/BumpyLogo.png');
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: -70px;
        transform: skewY(2deg);
    }
}